
<div class="error-body">
<div class="container ">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <div class="">
                    <img class="img-fluid" src="../../../assets/img/404.png" alt="Error">
                </div>
                <h1>¡Oops!</h1>
                <h2>Ocurrió un error</h2>
                <!-- <div class="error-details">
                    No se encontró la página buscada
                </div> -->
                <br>
                <div class="error-actions">
                    <!-- Poner la ruta de home en vez de la de crear factura -->
                    <button type="button" [routerLink]="['/crearFactura']" class="btn btn-outline-secondary"> 
                        Ir a la página principal
                    </button>
        
                </div>
            </div>
        </div>
    </div>
</div>
</div>