.jumbotron {
    color: white;
    background-image: url('../../../assets/img/invoice carousel.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90%;
  }

  .container-fluid{
    padding-left: 0;
    padding-right: 0;
 }

.whiteP{
    font-size: 20px;
}



.fa-check{
    color: #4d2c91;
}

.fa-times-circle{
    color: #4d2c91;
}

.lnr{
    font-size: 20px;
}

.fa-chevron-down{
    text-decoration:none;
    color: white;

}

.fa-chevron-down:hover{
    color: rgb(255, 255, 255, 0.5) ;
}

#CRFlag{
    width: 25px;
}

#carouselHome{
    width: 400px;
    height: 275px;
}

