<div class = "container-fluid">
    <div class="jumbotron jumbotron-fluid container-fluid">
        <div class="container">
          <h1 class="display-4">Facture desde cualquier lugar</h1>
          <p class = "whiteP">Sistema de facturación y registro contable electrónico <br> al Ministerio de Hacienda en Costa Rica. 
          </p>
        </div>
    
        <div class = "container pt-4">
            <button type="button" class="btn btn-light" >
                Empezar ahora
            </button>
    
            <button type="button" class="btn btn-outline-light ml-3 b-white-purple" >
                Iniciar sesión
            </button>
        </div>
    
        <br>
        <br>
        <div class =  "d-flex justify-content-center mt-5">
            <a class="fa fa-chevron-down pr-3 fa-2x" (click)="scroll('prestaciones')"></a>
        </div>
        
        
    </div>
</div>

<!-- PRESTACIONES -->
<div id = "prestaciones" class = "container">

    <div class="header-title">
        <div class="divider">
            <h5>Prestaciones</h5>
        </div>
    </div>

    

        <div class = "row justify-content-center">

            <div class="card pb-2 col-lg-3 ml-3 mr-3 mb-2">
                <div class="card-body text-center">
                    <p class="card-text">
                        <i class="fa fa-check" aria-hidden="true"></i>
                         Documentos ilimitados.
                    </p>
                    <div class="dropdown-divider"></div>
                    <p class="card-text">
                        <i class="fa fa-check" aria-hidden="true"></i>
                         Cancelación de facturas.
                    </p>
                    <div class="dropdown-divider"></div>
                    <p class="card-text">
                        <i class="fa fa-check" aria-hidden="true"></i>
                         Registro de clientes y actividades económicas.
                    </p>
                    <div class="dropdown-divider"></div>
                    <p class="card-text">
                        <i class="fa fa-check" aria-hidden="true"></i>
                        <i class="fa fa-audio-description" aria-hidden="true"></i>
                        Accesibilidad aria.
                    </p>
                    <div class="dropdown-divider"></div>
                    <p class="card-text">
                        <i class="fa fa-briefcase" aria-hidden="true"></i>
                        Orientado a PYMES y pequeñas empresas.
                    </p>
        
                    
                </div>
            </div>
    
            <div class="card col-lg-3 pb-2 ml-3 mr-3 mb-2">
                <div class="card-body text-center">
                    <p class="card-text">
                        <i class="fa fa-times-circle" aria-hidden="true"></i>
                        Solamente administra dólares y colones.
                    </p>
                    <div class="dropdown-divider"></div>
                    <p class="card-text">
                        <i class="fa fa-times-circle" aria-hidden="true"></i>
                        No presenta soporte para importadores o productores.
                    </p>
                    <div class="dropdown-divider"></div>
                    <p class="card-text">
                        <i class="fa fa-times-circle" aria-hidden="true"></i>
                        Descarga de facturas anteriores.
                    </p>

                    <div class="dropdown-divider"></div>
                    <p class="card-text">
                        <i class="fa fa-industry" aria-hidden="true"></i>
                        No apto para medianas y grandes empresas.
                    </p>
                   
                    
                </div>
            </div>
        </div>

  
</div>


<div class = "container mt-5">

    <div class="header-title">
        <div class="divider">
            <h5>Acerca de nosotros</h5>
        </div>
    </div>


    <div class = "row justify-content-center">

        <carousel class = "ml-5 mr-5" [width]="400" [height] ="300" [cellWidth] = "400" [cellWidth] = "300"
          [autoplay] = "true" [loop] = "true">
            <div class="carousel-cell">
                <img src="../../../assets/img/sj-teatro.jpg" >
            </div>

            <div class="carousel-cell">
                <img src="../../../assets/img/rana-cr.jpg" >
            </div>

            <div class="carousel-cell">
                <img src="../../../assets/img/sj-aereo.jpg" >
            </div>

        </carousel>


        <p class = "col-lg-3 text-justify" width = "300px">Este sistema fue desarrollado por HONKPANY, un grupo de estudiantes del 
            Instituto Tecnológico de Costa Rica en su último año de carrera.<br> La motivación para la creación de este sistema 
            fue la necesidad de una plataforma de facturación intuitiva sin una alta complejidad. Esta plataforma fue
            desarrollada como parte de la evaluación del curso de Proyecto de Ingeniería del Software. <br><br>
            Costa Rica <img id = "CRFlag" src = "../../../assets/img/131-costa rica.svg">
        </p>

    </div>
</div>