<form #myForm="ngForm" (submit)="enviar(datosXML)" >
    <!------------------------------->
    <!--------Datos del emisor------->
    <!------------------------------->
    <div class="header-title">
        <div class="divider">
            <h5>Datos del emisor</h5>
        </div>
    </div>

    <div class="container card p-3">
        <div class="form-group mb-0">
            <div class="form-item col-md-8">
                <label for="lblNombreRazonSocialEmisor">Nombre o Razon Social</label>

                <div class="input-group">
                    <input type="text" class="form-control" id="txtNombreRazonSocialEmisorId" name="nombreRazonSocialEmisor" [(ngModel)]="datosXML.emisor_nombre" readonly aria-label="Nombre de razon social con boton para mostrar información" aria-describedby="pendiente" />
                    <div class="input-group-append">
                        <button type="button" class="btn btn-outline-secondary" (click)="toggle()">
                            VER DATOS
                        </button>
                    </div>
                </div>
            </div>

            <div>
                <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsedEmisorData">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="form-item col-md-4">
                                    <label for="lblNombreComercialEmisor">Nombre Comercial</label>
                                    <input type="text" class="form-control" id="txtNombreComercialEmisorId" name="nombreComercialEmisor" [disabled]="true" [(ngModel)]="datosXML.nombre_comercial" aria-label="Nombre Comercial del emisor" aria-describedby="pendiente" />
                                </div>
                                <div class="form-item col-md-4">
                                    <label for="lblIdentificacionEmisor">Identificación</label>
                                    <input type="text" class="form-control" id="txtIdentificacionEmisorId" name="identificacionEmisor" [disabled]="true" [(ngModel)]="datosXML.emisor_num_identif" aria-label="Identificación del emisor" aria-describedby="pendiente" />
                                </div>
                                <div class="form-item col-md-4">
                                    <label for="lblCorreoEmisor">Correo electrónico</label>
                                    <input type="text" class="form-control" id="txtCorreoEmisorId" name="correoEmisor" [disabled]="emisorDeshabilitado" [(ngModel)]="datosXML.emisor_email" aria-label="Correo electrónico del emisor" aria-describedby="pendiente" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-item col-md-4">
                                    <label for="lblTelefonoEmisor">Teléfono</label>
                                    <input type="text" class="form-control" id="txtTelefonoEmisorId" name="telefonoEmisor" [disabled]="emisorDeshabilitado" [(ngModel)]="datosXML.emisor_tel" aria-label="Teléfono del emisor" aria-describedby="pendiente" />
                                </div>
                                <div class="form-item col-md-4">
                                    <label for="lblFaxEmisor">Fax</label>
                                    <input type="text" class="form-control" id="txtFaxEmisorId" name="faxEmisor" [disabled]="emisorDeshabilitado" [(ngModel)]="datosXML.emisor_fax" aria-label="Fax del emisor" aria-describedby="pendiente" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-item col-md-4">
                                    <label for="lblProvinciaEmisor">Provincia</label>
                                    <select class="form-control" id="cmbProvinciaEmisorId" name="provinciaEmisor" [disabled]="emisorDeshabilitado" [(ngModel)]="datosXML.emisor_provincia" >
                                        <option>San José</option>
                                    </select>
                                </div>
                                <div class="form-item col-md-4">
                                    <label for="lblCantonEmisor">Cantón</label>
                                    <select class="form-control" id="cmbCantonEmisorId" name="cantonEmisor" [disabled]="emisorDeshabilitado" [(ngModel)]="datosXML.emisor_canton" >
                                        <option>Alajuelita</option>
                                    </select>
                                </div>
                                <div class="form-item col-md-4">
                                    <label for="lblDistritoEmisor">Distrito</label>
                                    <select class="form-control" id="cmbDistritoEmisorId" name="distritoEmisor" [disabled]="emisorDeshabilitado" [(ngModel)]="datosXML.emisor_distrito" >
                                        <option>Concepción</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-item col-md-4">
                                    <label for="lblBarrioEmisor">Barrio</label>
                                    <input type="text" class="form-control" id="txtBarrioEmisorId" name="barrioEmisor" [disabled]="emisorDeshabilitado" [(ngModel)]="datosXML.emisor_barrio" aria-label="Barrio del emisor" aria-describedby="pendiente" />
                                </div>
                                <div class="form-item col-md-8">
                                    <label for="lblIdentificacionEmisor">Otras señas</label>
                                    <input type="text" class="form-control" id="txtOtrasSenasEmisorId" name="otrasSenasEmisor" [disabled]="emisorDeshabilitado" [(ngModel)]="datosXML.emisor_otras_senas" aria-label="Otras señas del emisor" aria-describedby="pendiente" />
                                </div>
                            </div>
                            <div class="row justify-content-end" *ngIf="emisorDeshabilitado">
                                <div class="form-item col-auto">
                                    <button type="button" (click)="modificar()" class="btn btn-outline-secondary"> 
                                        MODIFICAR
                                    </button>
                                </div>
                            </div>
                            <div class="row justify-content-end" *ngIf="!emisorDeshabilitado">
                                <div class="form-item col-auto">
                                    <button type="button" (click)="guardar()" class="btn btn-outline-secondary"> 
                                        GUARDAR
                                    </button>
                                    <button type="button" (click)="cancelar()" class="btn btn-outline-secondary ml-3"> 
                                        CANCELAR
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br>

    <!------------------------------->
    <!------Datos del receptor------->
    <!------------------------------->
    <div class="header-title">
        <div class="divider">
            <h5>Datos del receptor</h5>
        </div>
    </div>

    <div class="container card p-3 mb-3">
        <div class="row">
            <div class="col-md-6 py-3 form-item">
                <p class="d-inline pr-3">Tipo de cliente: </p>
                <div class="custom-control custom-radio d-inline-block px-4">
                    <input class="pl-3" type="radio" id="receptorRegistrado" name="receptor" [(ngModel)]="tipoReceptor" class="custom-control-input" value="REGISTRADO">
                    <label class="custom-control-label" for="receptorRegistrado">Registrado</label>
                </div>
                <div class="custom-control custom-radio d-inline-block px-4">
                    <input class="pl-3" type="radio" id="receptorNuevo" name="receptor" [(ngModel)]="tipoReceptor" class="custom-control-input" value="NUEVO">
                    <label class="custom-control-label" for="receptorNuevo">Nuevo</label>
                </div>
            </div>
        </div>
        <div class="row">
           
            <label for="buscarReceptor">Buscar</label>
            <input id="buscarReceptor" class="form-control" (keyup)="applyFilter($event)" placeholder="" #input>
             
              
              <table id="pruebaTabla" mat-table [dataSource]="dataSource" class="mat-elevation-z8">
              
                <!-- Position Column -->
                <ng-container matColumnDef="position">
                  <th mat-header-cell *matHeaderCellDef> No. </th>
                  <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                </ng-container>
              
                <!-- Name Column -->
                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef> Name </th>
                  <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>
              
                <!-- Weight Column -->
                <ng-container matColumnDef="weight">
                  <th mat-header-cell *matHeaderCellDef> Weight </th>
                  <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
                </ng-container>
              
                <!-- Symbol Column -->
                <ng-container matColumnDef="symbol">
                  <th mat-header-cell *matHeaderCellDef> Symbol </th>
                  <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
                </ng-container>
              
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              
                <!-- Row shown when there is no matching data. -->
                <tr class="mat-row" *matNoDataRow>
                  <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                </tr>
              </table>
        </div>
        
    </div>

    <!--Datos de pago del receptor--->
    <div class="container card p-3">
        <div class="row">
            <div class="col-md-4 form-item">
                <label for="metodos">Método de pago</label>
                <select class="form-control" name="metodos" id="metodos" [(ngModel)]="datosXML.medio_pago">
                    <option value="Efectivo" selected>Efectivo</option>
                    <option value="Tarjeta">Tarjeta</option>
                    <option value="Cheque">Cheque</option>
                    <option value="Transferencia - depósito bancario">Transferencia - depósito bancario</option>
                    <option value="Recaudado por terceros">Recaudado por terceros</option>
                    <option value="Otros">Otros</option>
                </select>
            </div>
            <div class="col-md-4 form-item">
                <label for="condiciones">Condición de venta</label>
                <select class="form-control mb-3" name="condiciones" id="condiciones" [(ngModel)]="datosXML.condicion_venta">
                    <option value="Contado" selected>Contado</option>
                    <option value="Crédito">Crédito</option>
                    <option value="Consignación">Consignación</option>
                    <option value="Apartado">Apartado</option>
                    <option value="Arrendamiento con opción de compra">Arrendamiento con opción de compra</option>
                    <option value="Arrendamiento con función financiera">Arrendamiento con función financiera
                    </option>
                    <option value="Servicios prestados al Estado a crédito">Servicios prestados al Estado a crédito
                    </option>
                    <option value="Pago de servicios prestados al Estado">Pago de servicios prestados al Estado
                    </option>
                    <option value="Otros">Otros</option>
                </select>
            </div>
            <div class="col-md-4 form-item">
                <div class="form-group mb-0" *ngIf="datosXML.condicion_venta === 'Crédito'">
                    <label for="plazo">Plazo del crédito:</label>
                    <input type="text" class="form-control" id="plazo" placeholder="" name="plazo">
                </div>
            </div>
        </div>
        <div class="row" *ngIf="datosXML.condicion_venta === 'Otros' || datosXML.medio_pago === 'Otros'">
            <div class="col-md-4 form-item">
                <div class="form-group mb-0" *ngIf="datosXML.medio_pago === 'Otros'">
                    <label for="detalleCondicion">Detalle método pago:</label>
                    <input type="text" class="form-control" id="detalleCondicion" placeholder="" name="detalleCondicion">
                </div>
            </div>
            <div class="col-md-4 form-item">
                <div class="form-group " *ngIf="datosXML.condicion_venta === 'Otros'">
                    <label for="detalleVenta">Detalle condición de venta:</label>
                    <input type="text" class="form-control" id="detalleVenta" placeholder="" name="detalleVenta">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 py-3 form-item">
                <p class="d-inline pr-3">Tipo de moneda: </p>
                <div class="custom-control custom-radio d-inline-block px-4">
                    <input class="pl-3" type="radio" id="colones" name="moneda" [(ngModel)]="datosXML.cod_moneda" class="custom-control-input" value="CRC">
                    <label class="custom-control-label" for="colones">Colones</label>
                </div>
                <div class="custom-control custom-radio d-inline-block px-4">
                    <input class="pl-3" type="radio" id="dolares" name="moneda" [(ngModel)]="datosXML.cod_moneda" class="custom-control-input" value="USD">
                    <label class="custom-control-label" for="dolares">Dólares</label>
                </div>
            </div>
            <div class="col-md-4  form-item" *ngIf="datosXML.cod_moneda === 'USD'">
                <div class="form-group mb-0">
                    <label for="plazo">Tipo de cambio:</label>
                    <input type="text" class="form-control" id="cambio" placeholder="" name="cambio" [(ngModel)]="datosXML.tipo_cambio">
                </div>
            </div>
            <div class="col-md-4  form-item" *ngIf="datosXML.cod_moneda === 'USD'">
                <label for="picker">Fecha:</label><br>
                <mat-form-field class="" color="#7E57C2" appearance="fill">
                    <mat-label></mat-label>
                    <input matInput [matDatepicker]="picker" (dateChange)="cambioFecha($event)" [max]="maxDate" disabled>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker disabled="false"></mat-datepicker>
                </mat-form-field>
            </div>
        </div>
    </div>

    <br>
    <div class="header-title">
        <div class="divider">
            <h5>Lineas de detalle</h5>
        </div>
    </div>

    <div class="card p-3 w-95 m-auto">
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead class="header">
                    <tr class="text-center">
                        <th scope="col" class="">Producto</th>
                        <th scope="col">Cantidad</th>
                        <th scope="col" class="mediano">Tipo</th>
                        <th scope="col">Precio Unitario</th>
                        <th scope="col">Descuento</th>
                        <th scope="col" class="">Razón</th>
                        <th scope="col" class="">Impuestos</th>
                        <th scope="col" class="px-2">Base</th>
                        <th scope="col" class="px-2">Tarifa</th>
                        <th scope="col" class="px-3">Subtotal</th>
                        <th scope="col" class="px-3">Total</th>
                        <th scope="col" class="px-3">Acción</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let linea of lineas; let i = index">
                        <th scope="row">
                            <input type="text" [(ngModel)]="linea.producto" class="form-control has-search" placeholder="Buscar" [formControl]="this.control" [matAutocomplete]="auto">
                            <mat-autocomplete [panelWidth]="600" #auto="matAutocomplete">
                                <mat-option *ngFor="let street of filteredStreets | async" [value]="street">
                                    {{street}}
                                </mat-option>
                            </mat-autocomplete>
                        </th>
                        <td><input type="number" class="form-control" (change)="calcularTotales(linea)" [(ngModel)]="linea.cantidad" placeholder="1" [ngModelOptions]="{standalone: true}"></td>
                        <td><select class="form-control custom-select" [(ngModel)]="linea.tipo" [ngModelOptions]="{standalone: true}">
                            <option value="Al">Alquiler de uso habitacional</option>
                            <option value="Alc">Alquiler de uso comercial</option>
                            <option value="Cm">Comisiones</option>
                            <option value="g">Gramo</option>
                            <option value="I">Intereses</option>
                            <option value="L">Litro</option>
                            <option value="m">Metro</option>
                            <option value="m2">Metro cuadrado</option>
                            <option value="mL">Mililitro</option>
                            <option value="mm">Milímetro</option>
                            <option value="Oz">Onzas</option>                            
                            <option value="ln">Pulgada</option>
                            <option value="Sp" selected>Servicios Profesionales</option>
                            <option value="St">Servicios técnicos</option>  
                            <option value="t">Tonelada</option>
                            <option value="W">Watt</option>
                            <option value="Os">Otro tipo de servicio</option>
                            <option value="Otros">Otros</option>
                        </select></td>
                        <td><input type="number" class="form-control" (change)="calcularTotales(linea)" placeholder="1" [(ngModel)]="linea.precioUnitario" [ngModelOptions]="{standalone: true}"></td>
                        <td>
                            <div class="input-group">
                                <input type="number" class="form-control w-50" placeholder="1" (change)="calcularTotales(linea)" [(ngModel)]="linea.descuento" [ngModelOptions]="{standalone: true}">
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="porcentaje" [checked]="linea.porcentaje" (change)="linea.porcentaje = !linea.porcentaje; calcularTotales(linea);" checked="">
                                            <label class="custom-control-label" for="porcentaje">%</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>


                        <td><input *ngIf="linea.descuento > 0" type="text" class="form-control" [(ngModel)]="linea.razon" [ngModelOptions]="{standalone: true}"></td>
                        <td><select class="form-control custom-select" (change)="actualizarTarifa(linea); calcularTotales(linea);" [(ngModel)]="linea.impuesto" [ngModelOptions]="{standalone: true}">
                            <option value="01-01">IVA exento</option>
                            <option value="01-02">IVA reducido 1%</option>
                            <option value="01-03">IVA reducido 2%</option>
                            <option value="01-04">IVA reducido 4%</option>
                            <option value="01-05">IVA transitorio 0%</option>
                            <option value="01-06">IVA transitorio 2%</option>
                            <option value="01-07">IVA transitorio 4%</option>
                            <option value="01-08" selected>IVA 13%</option>
                            <option value="07">IVA (cálculo especial)</option>
                            <option value="08">IVA Régimen de Bienes Usados (Factor)</option>
                        </select></td>
                        <td><input *ngIf="linea.impuesto === '07' || linea.impuesto === '08'" (change)="calcularTotales(linea)" type="number" class="form-control" placeholder="1" [(ngModel)]="linea.base" [ngModelOptions]="{standalone: true}"></td>
                        <td><input *ngIf="linea.impuesto === '07' || linea.impuesto === '08'" (ngModelChange)="calcularTotales(linea)" type="number" class="form-control" placeholder="1" [(ngModel)]="linea.tarifa" [ngModelOptions]="{standalone: true}"></td>
                        <td class="pt-3">₡{{linea.subtotal | number : '1.2-2' }}</td>
                        <td class="pt-3">₡{{linea.total | number : '1.2-2' }}</td>
                        <td><button type="button" class="btn" (click)="borrarLinea(i);"><i class="fa fa-trash"></i></button></td>
                    </tr>
                </tbody>
            </table>

        </div>
        <button type="button" class="btn btn-outline-secondary m-auto" (click)="nuevaLinea();">
            AGREGAR
        </button>
    </div>
    <br>
    <div class="header-title">
        <div class="divider">
            <h5>Otros cargos</h5>
        </div>
    </div>

    <div class="card p-3 w-95 m-auto">
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead class="header">
                    <tr class="text-center">
                        <th scope="col" class="grande">Tipo de documento</th>
                        <th scope="col">Detalle</th>
                        <th scope="col" class="mediano">Porcentaje</th>
                        <th scope="col">Tipo de identificación</th>
                        <th scope="col">Identificación</th>
                        <th scope="col">Nombre</th>
                        <th scope="col" class="mediano">Monto</th>
                        <th scope="col" class="px-3">Acción</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let cargo of otrosCargos; let i = index">
                        <th scope="row"><select class="form-control custom-select" [(ngModel)]="cargo.tipoDocumento" [ngModelOptions]="{standalone: true}">
                            <option value="Cobro de un tercero">Cobro de un tercero</option>
                            <option value="Impuesto de servicio 10%">Impuesto de servicio 10%</option>
                            <option value="Otros cargos">Otros cargos</option>
                        </select></th>
                        <td><input type="text" class="form-control" [(ngModel)]="cargo.detalle" placeholder="1" [ngModelOptions]="{standalone: true}"></td>
                        <td><input type="text" class="form-control" [(ngModel)]="cargo.porcentaje" placeholder="1" [ngModelOptions]="{standalone: true}"></td>
                        <td *ngIf="cargo.tipoDocumento === 'Cobro de un tercero'"><select class="form-control custom-select" [(ngModel)]="cargo.tipoIdentificacion" [ngModelOptions]="{standalone: true}"></select></td>
                        <td *ngIf="cargo.tipoDocumento === 'Cobro de un tercero'"><input type="text" class="form-control" [(ngModel)]="cargo.identificacion" placeholder="1" [ngModelOptions]="{standalone: true}"></td>
                        <td *ngIf="cargo.tipoDocumento === 'Cobro de un tercero'"><input type="text" class="form-control" [(ngModel)]="cargo.nombre" placeholder="1" [ngModelOptions]="{standalone: true}"></td>
                        <td *ngIf="cargo.tipoDocumento != 'Cobro de un tercero'"><input type="text" class="form-control invisible"></td>
                        <td *ngIf="cargo.tipoDocumento != 'Cobro de un tercero'"><input type="text" class="form-control invisible"></td>
                        <td *ngIf="cargo.tipoDocumento != 'Cobro de un tercero'"><input type="text" class="form-control invisible"></td>
                        <td><input type="text" class="form-control" [(ngModel)]="cargo.monto" placeholder="1" [ngModelOptions]="{standalone: true}"></td>
                        <td><button type="button" (click)="borrarCargo(i);" class="btn"><i class="fa fa-trash"></i></button></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <button type="button" class="btn btn-outline-secondary m-auto" (click)="nuevoCargo();">
            AGREGAR
        </button>
    </div>


    <button type="submit ">a</button>
</form>