<form #myForm="ngForm" (submit)="enviar(datosXML)">
    <div class="header-title">
        <!-- <h5>Datos del emisor</h5> -->
        <div class="divider">
            <h5>Datos del emisor</h5>
        </div>
    </div>

    <div class="container card p-3">
        <div class="form-group mb-0">
            <div class="form-item col-md-8">
                <label for="lblNombreRazonSocialEmisor">Nombre o Razon Social</label>

                <div class="input-group">
                    <input type="text" class="form-control" id="txtNombreRazonSocialEmisorId" name="nombreRazonSocialEmisor" [(ngModel)]="datosXML.emisor_nombre"  readonly aria-label="Nombre de razon social con boton para mostrar información" aria-describedby="pendiente" />
                    <div class="input-group-append">
                        <button type="button" class="btn btn-outline-secondary" (click)="collapse.toggle()">
                            VER DATOS
                        </button>
                    </div>
                </div>
            </div>

            <div>
                <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsedEmisorData">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="form-item col-md-4">
                                    <label for="lblNombreComercialEmisor">Nombre Comercial</label>
                                    <input type="text" class="form-control" id="txtNombreComercialEmisorId" name="nombreComercialEmisor" [(ngModel)]="datosXML.nombre_comercial"  readonly aria-label="Nombre Comercial del emisor" aria-describedby="pendiente" />
                                </div>
                                <div class="form-item col-md-4">
                                    <label for="lblIdentificacionEmisor">Identificación</label>
                                    <input type="text" class="form-control" id="txtIdentificacionEmisorId" name="identificacionEmisor" [(ngModel)]="datosXML.emisor_num_identif" readonly aria-label="Identificación del emisor" aria-describedby="pendiente" />
                                </div>
                                <div class="form-item col-md-4">
                                    <label for="lblCorreoEmisor">Correo electrónico</label>
                                    <input type="text" class="form-control" id="txtCorreoEmisorId" name="correoEmisor" [(ngModel)]="datosXML.emisor_email" readonly aria-label="Correo electrónico del emisor" aria-describedby="pendiente" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-item col-md-4">
                                    <label for="lblTelefonoEmisor">Teléfono</label>
                                    <input type="text" class="form-control" id="txtTelefonoEmisorId" name="telefonoEmisor" [(ngModel)]="datosXML.emisor_tel" readonly aria-label="Teléfono del emisor" aria-describedby="pendiente" />
                                </div>
                                <div class="form-item col-md-4">
                                    <label for="lblFaxEmisor">Fax</label>
                                    <input type="text" class="form-control" id="txtFaxEmisorId" name="faxEmisor" [(ngModel)]="datosXML.emisor_fax" readonly aria-label="Fax del emisor" aria-describedby="pendiente" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-item col-md-4">
                                    <label for="lblProvinciaEmisor">Provincia</label>
                                    <select class="form-control" id="cmbProvinciaEmisorId" name="provinciaEmisor" [(ngModel)]="datosXML.emisor_provincia" readonly>
                                        <option>San José</option>
                                    </select>
                                </div>
                                <div class="form-item col-md-4">
                                    <label for="lblCantonEmisor">Cantón</label>
                                    <select class="form-control" id="cmbCantonEmisorId" name="cantonEmisor" [(ngModel)]="datosXML.emisor_canton" readonly>
                                        <option>Alajuelita</option>
                                    </select>
                                </div>
                                <div class="form-item col-md-4">
                                    <label for="lblDistritoEmisor">Distrito</label>
                                    <select class="form-control" id="cmbDistritoEmisorId" name="distritoEmisor" [(ngModel)]="datosXML.emisor_distrito" readonly>
                                        <option>Concepción</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-item col-md-4">
                                    <label for="lblBarrioEmisor">Barrio</label>
                                    <input type="text" class="form-control" id="txtBarrioEmisorId" name="barrioEmisor" [(ngModel)]="datosXML.emisor_barrio" readonly aria-label="Barrio del emisor" aria-describedby="pendiente" />
                                </div>
                                <div class="form-item col-md-8">
                                    <label for="lblIdentificacionEmisor">Otras señas</label>
                                    <input type="text" class="form-control" id="txtOtrasSenasEmisorId" name="otrasSenasEmisor" [(ngModel)]="datosXML.emisor_otras_senas" readonly aria-label="Otras señas del emisor" aria-describedby="pendiente" />
                                </div>
                            </div>
                            <div class="row justify-content-end">
                                <div class="form-item col-auto">
                                    <button type="button" class="btn btn-outline-secondary">
                                        MODIFICAR
                                    </button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br>
    <div class="header-title">
        <div class="divider">
            <h5>Datos del receptor</h5>
        </div>
    </div>

    <div class="container card p-3">
        <div class="row">
            <div class="col-md-4 form-item">
                <label for="metodos">Método de pago</label>
                <select class="form-control custom-select" name="metodos" id="metodos" [(ngModel)]="datosXML.medio_pago">
                    <option value="Efectivo" selected>Efectivo</option>
                    <option value="Tarjeta">Tarjeta</option>
                    <option value="Cheque">Cheque</option>
                    <option value="Transferencia - depósito bancario">Transferencia - depósito bancario</option>
                    <option value="Recaudado por terceros">Recaudado por terceros</option>
                    <option value="Otros">Otros</option>
                </select>
            </div>
            <div class="col-md-4 form-item">
                <label for="condiciones">Condición de venta</label>
                <select class="form-control custom-select mb-3" name="condiciones" id="condiciones" [(ngModel)]="datosXML.condicion_venta">
                    <option value="Contado" selected>Contado</option>
                    <option value="Crédito">Crédito</option>
                    <option value="Consignación">Consignación</option>
                    <option value="Apartado">Apartado</option>
                    <option value="Arrendamiento con opción de compra">Arrendamiento con opción de compra</option>
                    <option value="Arrendamiento con función financiera">Arrendamiento con función financiera
                    </option>
                    <option value="Servicios prestados al Estado a crédito">Servicios prestados al Estado a crédito
                    </option>
                    <option value="Pago de servicios prestados al Estado">Pago de servicios prestados al Estado
                    </option>
                    <option value="Otros">Otros</option>
                </select>
            </div>
            <div class="col-md-4 form-item">
                <div class="form-group mb-0" *ngIf="datosXML.condicion_venta === 'Crédito'">
                    <label for="plazo">Plazo del crédito:</label>
                    <input type="text" class="form-control" id="plazo" placeholder="" name="plazo">
                </div>
            </div>
        </div>
        <div class="row" *ngIf="datosXML.condicion_venta === 'Otros' || datosXML.medio_pago === 'Otros'">
            <div class="col-md-4 form-item">
                <div class="form-group mb-0" *ngIf="datosXML.medio_pago === 'Otros'">
                    <label for="detalleCondicion">Detalle método pago:</label>
                    <input type="text" class="form-control" id="detalleCondicion" placeholder="" name="detalleCondicion">
                </div>
            </div>
            <div class="col-md-4 form-item">
                <div class="form-group " *ngIf="datosXML.condicion_venta === 'Otros'">
                    <label for="detalleVenta">Detalle condición de venta:</label>
                    <input type="text" class="form-control" id="detalleVenta" placeholder="" name="detalleVenta">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 py-3 mt-4 form-item">
                <p class="d-inline pr-3">Tipo de moneda: </p>
                <div class="custom-control custom-radio d-inline px-4">
                    <input type="radio" id="colones" name="moneda" [(ngModel)]="datosXML.cod_moneda" class="custom-control-input" value="CRC">
                    <label class="custom-control-label" for="colones">Colones</label>
                </div>
                <div class="custom-control custom-radio d-inline px-4">
                    <input type="radio" id="dolares" name="moneda" [(ngModel)]="datosXML.cod_moneda" class="custom-control-input" value="USD">
                    <label class="custom-control-label" for="dolares">Dólares</label>
                </div>
            </div>
            <div class="col-md-4 form-item" *ngIf="datosXML.cod_moneda === 'USD'">
                <div class="form-group mb-0">
                    <label for="plazo">Tipo de cambio:</label>
                    <input type="text" class="form-control" id="cambio" placeholder="" name="cambio" [(ngModel)]="datosXML.tipo_cambio">
                </div>
            </div>
        </div>
    </div>
    <button type="submit">a</button>
</form>