
<div class="container">
    <div class="row">
      <div class="card col-md-5">
        <h4 class="text-center">Emisor</h4>
        <h6>nombre</h6>
        <h6>cedula</h6>
        <h6>correo</h6>
        <h6>telefono</h6>
      </div>
      <div class="col-md-2">
        <!-- espacio(?) -->
      </div>
      <div class="card col-md-5">
        <h4 class="text-center">Receptor</h4>
        <h6>nombre</h6>
        <h6>cedula</h6>
        <h6>correo</h6>
        <h6>telefono</h6>
      </div>
    </div>
    <div class="row">
     
      
    </div> 
    <div mat-dialog-actions>
        <button mat-button class="btn btn-outline-secondary" (click)="onNoClick()">Cancelar</button>
      </div>
      <div mat-dialog-actions>
        <button mat-button class="btn btn-outline-secondary" (click)="onNoClick()">Anular</button>
      </div>
</div>
