<div class="header-title" aria-label="Sección de datos de emisor de factura" aria-describedby="pendiente">
    <div class="divider">
        <h5>Consultar comprobantes</h5>
    </div>
</div>

<div class="container card p-3 my-4">
    <div class="row">

        <div class="col-md-12 form-item">
            <input id="buscarDocumento" class="form-control searchBar" (keyup)="applyFilter($event)" placeholder="Buscar documento" #input aria-label="Buscar documento" aria-describedby="pendiente">
        </div>

        <div class="container overflow-auto">
            <table id="tablaFacturas" #tablaFacturas mat-table [dataSource]="datosFacturas" class="mat-elevation-z8 tablaMat w-100" aria-label="Tabla de documentos emitidos" aria-describedby="pendiente" matSort>

                <!-- Position Column -->

                <!-- Name Column -->
                <ng-container matColumnDef="fecha">
                    <th class="header text-center" mat-header-cell *matHeaderCellDef aria-label="Encabezado fecha" aria-describedby="pendiente" mat-sort-header> Fecha </th>
                    <td mat-cell *matCellDef="let element" aria-label="fecha" aria-describedby="pendiente">
                        {{element.fecha}} </td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="nombreComercial">
                    <th class="header text-center" mat-header-cell *matHeaderCellDef aria-label="Encabezado nombre comercial" aria-describedby="pendiente" mat-sort-header> Nombre comercial </th>
                    <td mat-cell *matCellDef="let element" aria-label="nombre comercial" aria-describedby="pendiente">
                        {{element.nombreComercial}} </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="numeroConsecutivo">
                    <th class="header text-center" mat-header-cell *matHeaderCellDef aria-label="Encabezado consecutivo del documento" aria-describedby="pendiente"> Número consecutivo </th>
                    <td mat-cell *matCellDef="let element" aria-label="consecutivo" aria-describedby="pendiente">
                        {{element.numeroConsecutivo}} </td>
                </ng-container>

                <ng-container matColumnDef="claveDocumento">
                    <th class="header text-center" mat-header-cell *matHeaderCellDef aria-label="Encabezado clave del documento" aria-describedby="pendiente"> Clave del documento
                    </th>
                    <td mat-cell *matCellDef="let element" aria-label="clave" aria-describedby="pendiente">
                        {{element.claveDocumento}} </td>
                </ng-container>

                <ng-container matColumnDef="tipoDocumento">
                    <th class="header text-center" mat-header-cell *matHeaderCellDef aria-label="Encabezado tipo de documento" aria-describedby="pendiente" mat-sort-header> Tipo de documento </th>
                    <td class="text-center" mat-cell *matCellDef="let element" aria-label="tipo de documento" aria-describedby="pendiente">
                        {{element.tipoDocumento}} </td>
                </ng-container>

                <ng-container matColumnDef="notaCredito">
                    <th class="header text-center" mat-header-cell *matHeaderCellDef aria-label="Encabezado generar nota de crédito" aria-describedby="pendiente"> Nota crédito </th>
                    <td mat-cell *matCellDef="let element" aria-label="generar nota de crédito" aria-describedby="pendiente">
                        <button type="button" (click)="crearNotaCredito(element);" class="btn ml-2" aria-label="Boton para eliminar otro cargo" aria-describedby="pendiente"><i
                                class="fa fa-file-text-o"></i><i class="fa fa-file-text"></i></button>
                    </td>
                </ng-container>

                <ng-container matColumnDef="notaDebito">
                    <th class="header text-center" mat-header-cell *matHeaderCellDef aria-label="Encabezado generar nota de débito" aria-describedby="pendiente"> Nota débito </th>
                    <td mat-cell *matCellDef="let element" aria-label="generar nota de débito" aria-describedby="pendiente">
                        <button type="button text-center" (click)="crearNotaDebito(element);" class="btn ml-2" aria-label="Boton para eliminar otro cargo" aria-describedby="pendiente"><i
                                class="fa fa-file-text-o"></i><i class="fa fa-file-text"></i></button>
                    </td>
                </ng-container>

                <ng-container matColumnDef="enviarCorreo">
                    <th class="header text-center" mat-header-cell *matHeaderCellDef aria-label="Encabezado enviar correo" aria-describedby="pendiente"> Enviar correo </th>
                    <td mat-cell *matCellDef="let element" aria-label="enviar correo" aria-describedby="pendiente">
                        <button type="button" (click)="EnviarCorreo(element);" class="btn ml-2" aria-label="Boton para eliminar otro cargo" aria-describedby="pendiente"><i
                                class="fa fa-envelope-o"></i></button>
                    </td>
                </ng-container>

                <ng-container matColumnDef="anular">
                    <th class="header text-center" mat-header-cell *matHeaderCellDef aria-label="Encabezado anular documento" aria-describedby="pendiente"> Anular </th>
                    <td mat-cell *matCellDef="let element" aria-label="anular documento" aria-describedby="pendiente">
                        <button type="button" (click)="anularFactura(element);" class="btn ml-2" aria-label="Boton para eliminar otro cargo" aria-describedby="pendiente"><i
                                class="fa fa-times-circle-o"></i></button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="columnasFactura"></tr>

                <!-- <mat-row  *matRowDef="let row; columns: columnasFactura;" (click)="getRecord(row)"></mat-row> -->
                <tr mat-row *matRowDef="let row; columns: columnasFactura;"></tr>

                <!-- Row shown when there is no matching data. -->
                <tr class="header" class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4" aria-label="Sin resultados" aria-describedby="pendiente">No data matching the filter "{{input.value}}"</td>
                </tr>

            </table>
            <mat-paginator #documentosPaginator class="searchBar" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
            </mat-paginator>
        </div>
    </div>
</div>