<div class="container card mt-3">
    <mat-tab-group mat-align-tabs="center" (selectedTabChange)="onTabChanged($event)">
        <!-- Usuario -->
        <mat-tab label="Usuario"> 
            <div class="m-4">
                <div class="header-title" aria-label="Sección de datos personales" aria-describedby="pendiente">
                    <div class="divider">
                        <h5>Datos personales</h5>
                    </div>
                </div>
                <form #myForm="ngForm" (keydown.enter)="$event.preventDefault()" (ngSubmit)="guardar(cliente)">
                    <div class="row">
                        <div class="form-item col-md-8">
                            <label for="NombreRazonSocial">Nombre o Razón Social</label>
                            <input type="text" class="form-control form-control-sm" id="NombreRazonSocial" name="nombreRazonSocial" #nombreRazonSocial="ngModel" [(ngModel)]="cliente.nombre" aria-label="Nombre o Razon Social"
                                aria-describedby="pendiente" required readonly />
                        </div>
                        <div class="form-item col-md-4">
                            <label for="Identificacion">Identificación</label>
                            <input type="text" class="form-control form-control-sm" id="Identificacion" name="identificacion" #identificacion="ngModel" [(ngModel)]="cliente.cedula" aria-label="Identificación"
                                aria-describedby="pendiente" required readonly />
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-item col-md-4">
                            <label for="NombreComercial">Nombre Comercial</label>
                            <input type="text" class="form-control form-control-sm" id="NombreComercial" name="nombreComercial" #nombreComercial="ngModel" [attr.disabled]="modificar ? true:null" [(ngModel)]="cliente.nombreComercial" aria-label="Nombre Comercial"
                                aria-describedby="pendiente" required />
                            <span class="text-danger"  *ngIf="nombreComercial.touched && !nombreComercial.valid">
                                <span>Dato inválido.</span>
                            </span>
                        </div>
                        <div class="form-item col-md-4">
                            <label for="Correo">Correo electrónico</label>
                            <input type="email" class="form-control form-control-sm" id="Correo" name="correo" #correo="ngModel" [attr.disabled]="modificar ? true:null" [(ngModel)]="cliente.email" aria-label="Correo electrónico" aria-describedby="pendiente"
                                required pattern="[\w-\.]+@([\w-]+\.)+[\w-]{2,4}" />
                            <span class="text-danger" *ngIf="correo.touched && !correo.valid">
                                <span>Dato inválido.</span>
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-item col-md-4">
                            <label for="Telefono">Teléfono</label>
                            <input type="text" class="form-control form-control-sm" id="Telefono" name="telefono" #telefono="ngModel" [attr.disabled]="modificar ? true:null" [(ngModel)]="cliente.telefono" aria-label="Teléfono" aria-describedby="pendiente"
                                required pattern="[0-9]{8}" />
                            <span class="text-danger" *ngIf="telefono.touched && !telefono.valid">
                                <span>Dato inválido.</span>
                            </span>
                        </div>
                        <div class="form-item col-md-4">
                            <label for="Fax">Fax</label>
                            <input type="text" class="form-control form-control-sm" id="Fax" name="fax" #fax="ngModel" [attr.disabled]="modificar ? true:null" [(ngModel)]="cliente.fax" aria-label="Fax" aria-describedby="pendiente" required
                                pattern="[0-9]{8}" />
                            <span class="text-danger" *ngIf="fax.touched && !fax.valid">
                                <span>Dato inválido.</span>
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-item col-md-4">
                            <label for="Provincia">Provincia</label>
                            <select class="form-control form-control-sm" id="Provincia" name="provincia" #provincia="ngModel" [disabled]="modificar"  [(ngModel)]="cliente.ubicacion[2]" aria-label="Provincia" aria-describedby="pendiente"
                                required>
                                <option [value] = "provincia.codigo_provincia" *ngFor = "let provincia Of provincias; ">{{provincia.nombre_provincia}}</option>
                            </select>
                        </div>
                        <div class="form-item col-md-4">
                            <label for="Canton">Cantón</label>
                            <select class="form-control form-control-sm" id="Canton" name="canton" #canton="ngModel" [disabled]="modificar"  [(ngModel)]="cliente.ubicacion[1]" aria-label="Canton" aria-describedby="pendiente"
                                required>
                                <option [value] = "canton.codigo_canton" *ngFor = "let canton Of cantonesFiltradosEmisor;" >{{canton.nombre_canton}}</option>
                            </select>
                        </div>
                        <div class="form-item col-md-4">
                            <label for="Distrito">Distrito</label>
                            <select class="form-control form-control-sm" id="Distrito" name="distrito" #distrito="ngModel" [disabled]="modificar"  [(ngModel)]="cliente.ubicacion[0]" aria-label="Distrito" aria-describedby="pendiente"
                                required>
                                <option [value] = "distrito.codigo_distrito" *ngFor = "let distrito Of distritosFiltradosEmisor;" >{{distrito.nombre_distrito}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-item col-md-4">
                            <label for="Barrio">Barrio</label>
                            <input type="text" class="form-control form-control-sm" id="Barrio" name="barrio" #barrio="ngModel" [disabled]="modificar" [(ngModel)]="cliente.barrio" aria-label="Barrio" aria-describedby="pendiente"
                                required>
                        </div>
                        <div class="form-item col-md-4">
                            <label for="OtrasSenas">Otras señas</label>
                            <input type="text" class="form-control form-control-sm" id="OtrasSenas" name="otrasSenas" #otras_senas="ngModel" [attr.disabled]="modificar ? true:null" [(ngModel)]="cliente.otrasSenas" aria-label="Otras señas" aria-describedby="pendiente" />
                        </div>
                        <!-- pendientes ngIf de los botones modificar, gaurdar y cancelar-->
                        <div class="form-item col-4 col-md-2 text-right" *ngIf="!modificar">
                            <button type="button" (click)="cancelarModificar()" class="btn btn-outline-secondary mt-4" aria-label="Botón cancelar" aria-describedby="pendiente">
                                CANCELAR
                            </button>
                        </div>
                        <div class="form-item col-4 col-md-2 text-left" *ngIf="!modificar">
                            <button type="button" class="btn btn-outline-secondary mt-4" aria-label="Botón guardar" aria-describedby="pendiente">
                                GUARDAR
                            </button>
                        </div>
                        <div class="form-item col-4 col-md-2 text-right"  *ngIf="modificar">
                            <button type="button" (click)="modificarCuenta()"  class="btn btn-outline-secondary mt-4" aria-label="Botón modificar" aria-describedby="pendiente">
                                MODIFICAR
                            </button>
                        </div>
                    </div>

                </form>
                <!-- Siguiente seccion -->
                <div class="header-title mt-5" aria-label="Sección de cambio de contraseña" aria-describedby="pendiente">
                    <div class="divider">
                        <h5>Nueva contraseña</h5>
                    </div>
                </div>
                <!-- falta funcion de (ngSubmit)="cambiarContrasena(contrasena)" -->
                <form #myFormContrasena="ngForm" (keydown.enter)="$event.preventDefault()" (ngSubmit)="cambioContrasena()"> 
                    <div class="row">
                        <div class="form-item col-md-4">
                            <label for="Contrasena">Contraseña</label>
                            <div class="input-group">
                                <!-- Change input type to be dynamic -->
                                <input [type]="mostrar ? 'text' : 'password'" class="form-control form-control-sm"
                                    id="Contrasena" name="contrasena" #contrasena="ngModel" (keyup)="validarContrasena()" [(ngModel)]="nuevaContrasena.contrasena"
                                    aria-label="Contrasena" aria-describedby="pendiente" required />
                                <div class="input-group-append" (click)="toggleContrasena()">
                                    <span class="input-group-text">
                                        <i class="fa" [ngClass]="{
                                        'fa-eye-slash': mostrar,
                                        'fa-eye': !mostrar
                                      }"></i>
                                    </span>
                                </div>
                                
                            </div>
                            <span class="text-danger" *ngIf="contrasena.touched && !contrasena.valid">
                                <span>Campo obligatorio.</span>
                            </span>
                        </div>
                        <div class="form-item col-md-4">
                            <label for="ConfirmarContrasena">Confirmar Contraseña</label>
                            <div class="input-group">
                                <!-- Change input type to be dynamic -->
                                <input [type]="mostrarConfirmacion ? 'text' : 'password'" class="form-control form-control-sm" id="ConfirmarContrasena"
                                name="confirmarContrasena" #confirmarContrasena="ngModel" (keyup)="validarContrasena()"
                                [(ngModel)]="nuevaContrasena.confirmarContrasena" aria-label="Confirmar contrasena"
                                aria-describedby="pendiente" required />
                                <div class="input-group-append" (click)="toggleContrasenaConfirmacion()">
                                    <span class="input-group-text">
                                        <i class="fa" [ngClass]="{
                                        'fa-eye-slash': mostrarConfirmacion,
                                        'fa-eye': !mostrarConfirmacion
                                      }"></i>
                                    </span>
                                </div>                            
                            </div>
                            <span class="text-danger" *ngIf="contrasena.touched && !contrasena.valid">
                                <span>Campo obligatorio.</span>
                            </span>
                            <span class="text-danger" *ngIf="!valido">
                                <span>Contraseñas no coinciden.</span>
                            </span>
                        </div>
                        <!-- pendientes ngIf de los botones modificar, gaurdar y cancelar-->
                        <div class="form-item col-md-2 text-right">
                            <!-- aqui tambien iria el de cancelar -->
                            <button type="submit"  [disabled]="myFormContrasena.invalid || !valido" class="btn btn-outline-secondary mt-4" aria-label="Botón modificar" aria-describedby="pendiente">
                                MODIFICAR
                            </button>
                        </div>
                    </div>
                </form>
            </div>
    
        </mat-tab>
        <!-- Certificado -->
        <mat-tab label="Certificado"> 
            <!-- <div class="card m-4"> -->
                <div class="m-5">
                    <form #myFormCertificado="ngForm" (keydown.enter)="$event.preventDefault()" (ngSubmit)="modificarCertificado(certificado)">
                        <div class="row justify-content-center form-item">
                            <div class="col-sm-8">
                                <label for="UsuarioHacienda">Usuario Hacienda</label>
                                <input type="text" class="form-control" id="UsuarioHacienda" name="usuarioHacienda"  #usuarioHacienda="ngModel" [(ngModel)]="certificado.usuario" aria-label="Usuario Hacienda" aria-describedby="pendiente"
                                required/>
                                <span class="text-danger" *ngIf="usuarioHacienda.touched && !usuarioHacienda.valid">
                                    <span>Dato inválido.</span>
                                </span>
                            </div>
                        </div>
                        <div class="row justify-content-center form-item">
                            <div class="col-sm-8">
                                <label for="Contrasena">Contraseña</label>
                                <input type="text" class="form-control" id="Contrasena" name="contrasena" #contrasenaCertificado="ngModel" [(ngModel)]="certificado.password" aria-label="Contrasena" aria-describedby="pendiente"
                                    required/>
                                <span class="text-danger" *ngIf="contrasenaCertificado.touched && !contrasenaCertificado.valid">
                                    <span>Dato inválido.</span>
                                </span>
                            </div>
                        </div>
                        <div class="row justify-content-center form-item">
                            <div class="col-sm-8">
                                <label for="Pin">PIN</label>
                                <input type="text" class="form-control" id="Pin" name="pin" #pin="ngModel" [(ngModel)]="certificado.pin" aria-label="PIN" aria-describedby="pendiente"
                                    required/>
                                <span class="text-danger" *ngIf="pin.touched && !pin.valid">
                                    <span>Dato inválido.</span>
                                </span>
                            </div>
                        </div>
                        <div class="row justify-content-center form-item">
                            <div class="col-sm-8">
                                <label for="Archivo">Archivo</label>
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" name="customFileLang" lang="es" (change)="selectFile($event)">
                                    <label class="custom-file-label" for="customFileLang" data-browse="Buscar">{{certificado.archivoURL}}</label>
                                  </div>
                                <!-- <span class="text-secondary" *ngIf="(archivo.touched && !archivoSeleccionado) || !archivoSeleccionado">
                                    <span>El archivo es obligatorio.</span>
                                </span> -->
                            </div>
                        </div>
                        <div class="row justify-content-center form-item mt-3">
                            <button type="submit" [disabled]="myFormCertificado.invalid" class="btn btn-outline-secondary" aria-label="Botón modificar" aria-describedby="pendiente">
                                Guardar
                            </button>
                        </div>
                    </form> 
                </div>
            <!-- </div> -->
        </mat-tab>
      </mat-tab-group>
</div>
