/* You can add global styles to this file, and also import other style files */

html, body { 
    height: 100%;
    background-color: #FDFDFD;
 }
/* body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */
/* 
.main-button {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color: #18227C;
    font-family: Open Sans;
    font-size: 40px;
    font-weight: 100;
    padding: 40px;
    background-color: #FFFFFF;
    border: solid #18227C 3px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
 
 .main-button:hover {
    background: #18227C;
    border: solid #18227C 3px;
    color: #fff;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
 } */

 .btn-outline-secondary {
    color: #18227C;
    border-color: #18227C;
}

.btn-outline-secondary:hover {
    background: #18227C;
    border-color: #18227C;
}

.header-title{
    text-align: center;
    background: #dbdbdb;
    padding: 1%;
    margin-bottom: 2%;
}